.custom-input span {
	display: inline-block;
	vertical-align: top;
	width: 47%;
}

.custom-input label {
	line-height: 25px;
	float: left;
}

.radio{
	cursor: pointer;
	content: '';
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;	
	border: 4px solid #37678D;
	background: #37678D;
	height: 21px;
	width: 21px;
	margin-right: 5px;
	float: left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.radio.checked {
	background: #FFFFFF;
}

form input, form textarea {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
form input.error , form textarea.error {
	border: 1px solid #F00;
	color: #FFFFFF;
}

form .alert {
	display: none;
}

